// app global css in SCSS form
body {
  background: transparent !important;
}

a {
  color: white;
}

#q-app,
.q-header,
.q-tab-panels,
.q-dark {
  backdrop-filter: blur(5px);
  /*background: transparent !important;*/
  background-color: rgba(255, 255, 255, 0.05);
}

.q-dialog.fullscreen {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3) !important;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
