// app global css in SCSS form
body {
  background: transparent !important;
}

a {
  color: white;
}

#q-app,
.q-header,
.q-tab-panels,
.q-dark {
  backdrop-filter: blur(5px);
  background: transparent !important;
}

.q-dialog.fullscreen {
  backdrop-filter: blur(5px);
  background-color: rgba(166, 107, 178, 0.8) !important;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
