// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

/*
$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #1d1d1d;
$dark-page: #121212;
$positive: #21ba45;
// $negative  : #C10015;
$negative: #783232;
$info: #31ccec;
$warning: #f2c037;
*/

$primary: #263238; /* Mint Green */
$secondary: #006064; /* Sky Blue */
$accent: #e74c3c; /* Red */
$dark: #161c20; /* Dark Gray */
$dark-page: $dark; /* Dark Gray */

$positive: #004d40; /* Mint Green */
$negative: #b71c1c; /* Red */
$info: #006064; /* Sky Blue */
$warning: #bf360c; /* Orange */
